<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-between align-items-center">
  <h1>Users</h1>
  <%= link_to "New user", new_user_path, class: "btn btn-primary" %>
</div>

<div id="users">
  <table class="table">
    <thead class="table-light">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Celular</th>
        <th scope="col">Email</th>
        <th scope="col">Data de nascimento</th>
        <th scope="col"></th>
      </tr>
    <tbody>
      <% @users.each do |user| %>
        <%= render user %>
      <% end %>
    </tbody>
  </table>
</div>